<nav data-orientation="vertical" class="mr-comfortable">
  <ul>
    {{#each sitemap}}
      <li><a href="../{{this.slug}}" {{ariaCurrent this.slug ../current}}>{{this.title}}</a></li>
      {{#if this.pages}}
        <li>
          <ul>
            {{#each this.pages}}
              <li><a href="../{{../slug}}/{{this.slug}}" {{ariaCurrent this.slug ../../current}}>{{this.title}}</a></li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>