<nav
  data-orientation="vertical" 
  id="side-navigation" 
  aria-label="Documentation navigation"
>
  <ul>
    {{#each sitemap}}
      <li>
        <a href="../{{this.slug}}" {{ariaCurrent this.slug ../current}}>{{this.title}}</a>
        {{#if this.pages}}
            <ul>
              {{#each this.pages}}
                <li><a href="../{{../slug}}/{{this.slug}}" {{ariaCurrent this.slug ../../current}}>{{this.title}}</a></li>
              {{/each}}
            </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>